.projectMetadata h2 {
    margin-bottom: 15px;
}

.projectMetadata {
    width: 400px !important;
    border-left: 1px solid #000;
    padding-left: 20px;
}

.projectMetadata table {
    border-collapse: collapse; 
}


.projectMetadata table tr td, .projectMetadata table tr th {
    padding-top: 8px;
}


.projectMetadata table th {
 text-align: left;   
 vertical-align: top;
}

.projectMetadata div.GtStatusLabel {
    margin: auto;
    width: 90px;
}



.projectMetadata div.GtIndicator {
    width: 90px;
    height: 15px;
    margin: auto;
}

.projectMetadata .GtIndicator[data-status='Low'], .GtIndicator[data-status='Ahead of schedule'], .GtIndicator[data-status='Under budget'] {
    background-color: green;
}

.projectMetadata .GtIndicator[data-status='Medium'], .GtIndicator[data-status='On schedule'], .GtIndicator[data-status='On budget'] {
    background-color: yellow;
}

.projectMetadata .GtIndicator[data-status='High'], .GtIndicator[data-status='Behind schedule'], .GtIndicator[data-status='Over budget'] {
    background-color: red;
}



.projectMetadata table td {
  padding: 0 !important;
}