 body *{
	font-family:Arial, Helvetica, sans-serif;
}


.ms-webpartPage-root {
border-spacing: 10px;
}

/* Link overides */

a:link {
	color: #0066a1;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: #ec1b2e;
	text-decoration: none;
}

a:visited {
	color: #0066a1;
	text-decoration: none;
}

.st-title-row a.st-link:link, .st-title-row a.st-link:visited {
	color:#444444;
	font-weight:300;
}


.st-title-row a.st-link:hover, .st-title-row a.st-link:focus {
	color: #ec1b2e;
	text-decoration: none;
}


li.st-article-topic a{
	color: #ffffff;
}

.pzl-skar-article-meta-container-top .st-article-author a.ms-subtleLink,
.pzl-skar-article-meta-container-bottom .st-article-author a.ms-subtleLink {
	color: #0066a1;
}

.ms-heroCommandLink:hover, .ms-heroCommandLink:focus {
    color: #ec1b2e;
}

/* Top nav overides */

#DeltaTopNavigation .menu-item-text {
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'ff-din-web-n4', 'ff-din-web', Arial, Helvetica, sans-serif;
	letter-spacing:-1px;
	font-weight:400;
}

.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item {
	margin-right: 30px;
	color:#000000;
}

.ms-selected, .ms-pivotControl-surfacedOpt-selected,
.ms-core-listMenu-selected, .ms-hero-command-enabled-alt {
	font-weight: 300;
}

.ms-core-listMenu-item, .ms-core-listMenu-item:link, .ms-core-listMenu-item:visited, .ms-tv-item:link, .ms-tv-item:visited, .ms-tv-header:link, .ms-tv-header:visited
{color:#000;}

.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link,
.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited,
.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected .ms-tv-selected:link {
	background-color: transparent;
	color: #ec1b2e !important;
}

.ms-core-listMenu-horizontalBox li.static  .ms-core-listMenu-item:hover,
.ms-core-listMenu-horizontalBox li.static  .ms-core-listMenu-item:focus  {
	color: #ec1b2e !important;
	text-decoration: none;
}


.ms-core-navigation .ms-core-listMenu-horizontalBox .ms-core-listMenu-root > li:first-child {
	background-image:url('/SiteAssets/SkuldBrandingContent/img/ico-home-anchor-black.png');
	background-repeat: no-repeat;
	line-height: 36px;
	width:50px;
	padding:0px;
	margin-right:0px
	}

.ms-core-navigation .ms-core-listMenu-horizontalBox .ms-core-listMenu-root > li:first-child.selected{
	background-image:url('/SiteAssets/SkuldBrandingContent/img/ico-home-anchor-red.png');
}

.ms-core-navigation .ms-core-listMenu-horizontalBox .ms-core-listMenu-root > li:first-child a
{
	display:inline-block;
	width:40px;
	height:22px;
	color:#ffffff;
}

.ms-core-listMenu-horizontalBox .dynamic-children.additional-background {
background-position: 92% center;

}

/* Dropdown menus from top nav */

ul.dynamic {
position: absolute;
left: -9999px;
top: -9999px;
z-index: 50;
background-color: #666;
white-space: nowrap;
word-wrap: normal;
padding: 10px 20px 10px 10px;
border: 0;
box-shadow: none;

}

ul.dynamic li.dynamic .ms-core-listMenu-item {
color:#fff;
font-size:14px;
font-family: 'ff-din-web', 'ff-din-web', Arial, Helvetica, sans-serif;
}

li.dynamic {padding:7px 0;}
ul.dynamic li.dynamic .ms-core-listMenu-item:hover,
ul.dynamic li.dynamic .ms-core-listMenu-item:focus {color:#fff !important; text-decoration:underline;}

ul.dynamic li.dynamic a:hover,
ul.dynamic li.dynamic a:focus {color:#fff !important;}

/* hide the home-text */
.ms-core-navigation .ms-core-listMenu-horizontalBox .ms-core-listMenu-root > li:first-child span.menu-item-text{display:none;}

.ms-core-navigation .ms-core-listMenu-horizontalBox .ms-core-listMenu-root > li:first-child:hover,
.ms-core-navigation .ms-core-listMenu-horizontalBox .ms-core-listMenu-root > li:first-child:focus {

	background-image:url('/SiteAssets/SkuldBrandingContent/img/ico-home-anchor-red.png');
	background-repeat: no-repeat;
	}



/* hide the edit links button in the global nav for administrators - they can edit nav elements in the term store */
li.ms-listMenu-editLink{
display:none;
}

#s4-titlerow {
height: 20px;
}

/* Hide MS site icon left of top nav */

.ms-siteicon-a, #pageTitle {
	display: none;
}

#siteIcon {
	min-width: 0;
	height: 0px;
	line-height: 0px;
	margin-right: 0px;
}

/* Searchbox */

#titleAreaRow .ms-srch-sb-searchLink:hover,
#titleAreaRow .ms-srch-sb-navLink:hover,
#titleAreaRow .ms-srch-sb-searchLink:active,
#titleAreaRow .ms-srch-sb-searchLink > img:active,
#titleAreaRow .ms-srch-sb-navLink:active,
#titleAreaRow .ms-srch-sb-navLink > img:active,
#titleAreaRow .ms-srch-sb-navLink-menuOpen,
#titleAreaRow .ms-srch-sb-navLink-menuOpen:hover {
	background-color:#dddddd;
}



/*white magnifier on red background*/
/*start by hiding the original img*/
#titleAreaRow a.ms-srch-sb-searchLink img{display:none;}

/* then put the background image on the parent A, with skuld red color*/
#titleAreaRow a.ms-srch-sb-searchLink
{
background-image:url('/SiteAssets/SkuldBrandingContent/img/searchresultui-white.png');
background-position:-28px -55px;
background-color:#EE1B2E;
}
#titleAreaRow a.ms-srch-sb-searchLink:hover{
background-position:6px -66px;
background-color:#EE1B2E;
}

/*make search input same size as global nav line height*/
#titleAreaRow .ms-srch-sb>input{height:27px; font-size:14px;}

/*fit the magnifier container in the input box, increase 4px*/
#titleAreaRow .ms-srch-sb > .ms-srch-sb-searchLink
{height:26px;width:32px;}

/* red border on search box (not hover, just normal and focus)*/
#titleAreaRow .ms-srch-sb-borderFocused,#titleAreaRow .ms-srch-sb-border{border:1px solid #EE1B2E;}

#titleAreaRow .ms-mpSearchBox {
  width: 265px;
}